extends layout

block content
        .profiledata
            .profile-name2 Kyrylo Panin
            .profile-name3 iOS Engineer
                span.typing
        script(src="script.js")
        img.profile-picture(src="images/avatar.png" alt="Profile Picture :)")
        //- Links
        a.links-github.link(href="https://github.com/ohmydeveloper")
            img(src="images/gitlogo.png").gitlogo
            | Github
        a.links-instagram.link(href="https://www.instagram.com/ohmydeveloper")
            img(src="images/instalogo.png").gitlogo
            | Instagram
        a.links-tiktok.link(href="https://tiktok.com/@ohmydeveloper")
            img(src="images/tiktoklogo.png").gitlogo
            | TikTok
        a.links-twitter.link(href="https://twitter.com/ohmydeveloper")
            img(src="images/xlogo.png").gitlogo
            | X
        a.links-linkedin.link(href="https://www.linkedin.com/in/kyrylo-panin-4ba46a1ba")
            img(src="images/linkedinlogo.png").gitlogo
            | LinkedIn
        .bottom-text
            p.copyright
                | ©2023
                a(href="https://www.instagram.com/ohmydeveloper") OhMyDeveloper